# Private documents.
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
Simulations/

# MPLAB X.
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
*.X/html/
*.X/nbproject/private/
*.X/nbproject/Package-*.bash
*.X/build/
*.X/nbbuild/
*.X/dist/
*.X/nbdist/
*.X/nbactions.xml
*.X/nb-configuration.xml
*.X/funclist
*.X/nbproject/Makefile-*
*.X/disassembly/

# Eagle backup files.
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Autorouter files.
*.pro
*.job

# CAM files.
CAM/
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln
*.drd
*.drd.*
*.s#*
*.b#*
*.info
*.eps

# Eagle file locks introduced since 7.x.
*.lck

# Misc.
*.*~
.DS_Store

